html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/remote.jpg");

  background-repeat: no-repeat;
  background-size: 100%;
}

.btn {
  cursor: ponter;
  height: 16vh;
  width: 31vw;
  /* background-color: transparent;
  border: none; */
  opacity: 20%;
}
